<?xml version="1.0"?>
<appSettings>
  <add key="CONNECT_SERVER_URI" value="http://connect.csccloud.in/account/" />
  <add key="AUTHORIZATION_ENDPOINT" value="authorize" />
  <add key="TOKEN_ENDPOINT" value="token" />
  <add key="RESOURCE_URL" value="resource" />
  <add key="CLIENT_ID" value="" />
  <add key="CLIENT_SECRET" value="" />
  <add key="CLIENT_TOKEN" value="" />
  <add key="CLIENT_CALLBACK_URI" value="" />
 
  
  
  
  <add key="PAY_URL" value="http://pay.csccloud.in/v1/" />
  <add key="SUCCESS_URL" value="" />
  <add key="FAILURE_URL" value="" />
  <add key="API_KEY" value="" />
  <add key="API_URL" value="http://bridgeapi.csccloud.in/v1/" />


 
  <add key="PRIVATE_KEY" value="MIICdx6Fdfm8M6JDv2+Q4yfVlaBgIjeMMQ8OInb5A=" />
  <add key="PUBLIC_KEY"  value="MIGfMAAB" />

  <add key="merchant_id" value="01" />

 
</appSettings>
